@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: hsl(13, 31%, 94%);
}
body {
  background-color: var(--bg);
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
