@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: hsl(13, 31%, 94%);
  --bg-rose-100: hsl(13, 31%, 94%);
  --bg-rose-400: hsl(7, 20%, 60%);
  --bg-rose-500: hsl(12, 20%, 44%);
  --bg-rose-900: hsl(14, 65%, 9%);
}
body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: var(--bg);
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
